<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>03_HelloMVC</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <listener>
    <listener-class>com.kh.common.listener.SessionCounterListener</listener-class>
  </listener>
  <filter>
    <filter-name>LoggerFilter</filter-name>
    <filter-class>com.kh.common.filter.LoggerFilter</filter-class>
  </filter>
  <servlet>
    <servlet-name>MemberUpdatePasswordServlet</servlet-name>
    <jsp-file>/WEB-INF/views/member/updatePassword.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberUpdatePasswordServlet</servlet-name>
    <url-pattern>/member/updatePassword</url-pattern>
  </servlet-mapping>
  <filter-mapping>
    <filter-name>LoggerFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>EncodeFilter</filter-name>
    <filter-class>com.kh.common.filter.EncodeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>